body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    padding:0%;
    background: url(346828767_626806039044985_7222796626397288561_n.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
}